importFrom("grDevices", "palette", "rainbow")
  importFrom("graphics", "abline", "barplot", "hist", "legend", "lines",
             "mtext", "par", "plot", "points", "rug", "segments",
             "stripchart")
  importFrom("stats", "IQR", "approx", "coefficients", "lm.influence",
             "model.matrix", "predict", "qt", "resid", "sd", "spline", 
             "approxfun", "dnorm", "qnorm")
  importFrom("KernSmooth", "locpoly")
exportPattern("^[[:alpha:]]+")
